@using ClassTimeTable.Models.Domain
@model IEnumerable<Course>
@{
    ViewData["Title"] = "Index";
}
<br />
<h2 class="text-primary text-center">Courses</h2>
<br />
<div class="text-center">
    <a asp-action="Create" class="btn btn-outline-primary">Add New???</a>
</div>
<br />
<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
        <div>
            <table class="table table-hover table-bordered" id="myTable">
                <tr class="table-primary">
                    <th class="text-center">Course_Title</th>
                    <th class="text-center">Course_Code</th>
                    <th class="text-center">Number_Of_Students</th>
                    <th class="text-center">Instructor</th>
                    <th class="text-center">Batch</th>
                    <th class="text-center text-danger">Actions</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@item.CourseTitle</td>
                        <td class="text-center">@item.CourseCode</td>
                        <td class="text-center">@item.MaxNumOfStudents</td>
                        <td class="text-center">@item.Instructor.Name</td>
                        <td class="text-center">@item.Batch.Name</td>
                        <partial name="_ButtonPartial" model="@item.Id" />
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="col-sm-1">
    </div>
</div>
